.redes__contacto{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
    margin-bottom: 8rem;
}


.img__contacto{
    width: 200px;
    height: 200px;
    opacity: 0.8;
}

.img__contacto:hover{
    width: 180px;
    height: 180px;
    transition: 0.4s;
}



.contacto__descripcion{
    text-align: center;
}

.img__contacto:active{
    width: 300px;
    height: 300px;
    color: rgb(240, 236, 0);
    transition: 0.9s;
}

@media (max-width: 768px){
    .redes__contacto{
        flex-direction: column;
        justify-content: center;
    }
    .img__contacto{
        
        margin: 25%;
    }



}